body {
	background-color: #f0f0f0;
	color: #000066;
	font-family: verdana, arial, helvetica, sans-serif;
	text-align: left;
}

p {
	font-family: verdana, arial, helvetica, sans-serif;
}

form {
	margin: 0 0 0 0;
}

.table, th, tr, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 90%;
}

table.form {
}

.error {
	color: #ff0000;
	font-size: 85%;
}

a {
	color: #4757ad;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
}

.merval_background {
	background-color: #006699;
}

.titulo {
	background-color: #006699;
	color: #ffffff;
	font-weight: bold;
}

td.label {
	font-weight: bold;
	vertical-align: top;
	padding: 0.4em;
}

#menu {
	background-color: #006699;
	font-size: 8pt;
	left: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
	color: #ffffff;
}

#menu dl {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}

dt, dd, ul, li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}

#menu dt {
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-weight: bold;
	background: #5588aa;
	margin: 2px 0px;
	border-left: gray 1px solid;
	cursor: pointer;
	line-height: 20px;
	border-bottom: gray 1px solid;
	height: 20px;
}

#menu dd {
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}

#menu li {
	background: #5588aa;
	text-align: left;
}

#menu dt a, #menu li a {
	border-right: 0px;
	border-top: 0px;
	display: block;
	border-left: 0px;
	color: #e0da93;
	border-bottom: 0px;
	height: 100%;
	text-decoration: none;
	font-size: 100%;
}

#menu dt a:hover, #menu li a:hover  {
	background: #aaa
}

.sesion_logout_pedido {
	font-weight: bold; color: #ff0000
}
.sesion_activa {
	font-weight: bold; color: #0000ff
}
.button {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	width: 90px;
	cursor: pointer;
}

.wide_button {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	width: 110px;
	cursor: pointer;
}
.auto_button {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	cursor: pointer;
}

#warning {
	color: red;
}

.enabled_checkbox {
	cursor: pointer;
}

/*
 * Tabs
 */
/* The content div, also the className for tabSystem divs */
.content {
	margin-top: 2px;
	margin-bottom: 10px;
	border: 1px solid #006699;
	padding: 10px 10px 10px 10px;
}

/* The div that holds all tabs */
div.tabs {
	font-size: 80%;
	margin-top: 10px;
	margin-left: 10px;
	white-space: nowrap;
	font-weight: bold;
	cursor: default !important;
	-Moz-User-Select: none;
}

/* An inactive tab */
.tab {
	padding: 2px 3px 3px 3px;
	border: 1px solid #006699;
	color: #ffffff;
	background-color: #5588aa;
	border-bottom-width: 0;
}

/* An inactive tab onMouseOver */
.tabHover {
	color: #ffffff;
	background-color: #006699;
	cursor: pointer;
}

/* An active tab */
.tabActive {
	padding: 3px 3px 3px 3px;
	color: #000000;
	background-color: #f0f0f0;
}