<html>
<head>
	#parse("common_header.vm")
	<link rel="stylesheet" href="#springUrl('/css/jmesa.css')" type="text/css"/>
</head>
<body onload="document.forms.agenteConsultar.codigo.focus();">
	#title('Alta de Agente')
	<br>

	<form name="agenteConsultar" action="#springUrl('/service/agenteAddUpdate')" method="POST">
		<input type="hidden" id="action" name="action" value="crearAgente"/>
		<table class="form">
			<tr>
				<td class="label">#springMessage('codigo'):</td>
				<td>
					#springFormInput("agente.codigo" 'codigo')
					#springShowErrors2("<br>" "error")
				</td>
			</tr>
		</table>

		<br>

		<input type="submit" class="button" value="#springMessageText('buscar' 'Buscar')"/>
		#cancelButton('/service/agenteTable')
	</form>
</body>
</html>