<html>
<head>
	#parse("common_header.vm")
</head>
<body>
	#title("Modificación del Agente: $!{agente.denominacion}")

	<form action="#springUrl('/service/agenteAddUpdate')" method="POST">
		#springFormHiddenInput('agente.id' '')

		#beginTabs(['Agente', 'Habilitación', 'Datos Personales', 'Domicilio', 'Contactos'])
			<div id="content1" class="content">
				<table class="form">
					#detail('agente' 'codigo')
					#input('agente' 'denominacion')
					#input('agente' 'cantidadAcciones')
					#detail('agente' 'subcuentaFondoCVSA')
					#detail('agente' 'cuentaBancoValores')
					#detail('agente' 'cuentaLiquidacionMVBA')
					#detail('agente' 'cuentaGarantiaCVSA')
					#detail('agente' 'cuentaGarantiaFiduciaria')
				</table>
			</div>

			<div id="content2" class="content">
				#habilitacionFormasOperativas('agente')
			</div>

			<div id="content3" class="content">
				<table class="form">
					#input('agente' 'nombre' 'nombreRazonSocial')
					#input('agente' 'telefono')
					#input('agente' 'fax')
					#input('agente' 'email')
				</table>
			</div>

			<div id="content4" class="content">
				#set ($domicilio = 'agente.domicilio')
				#parse("domicilioAddUpdate.vm")
			</div>

			<div id="content5" class="content">
				#set ($contactos = $agente.contactos)
				#set ($contactosString = 'agente.contactos')
				#parse("contactosAddUpdate.vm")
			</div>
		#endTabs()

		#saveAndCancelButtons('agente')
	</form>
</body>
</html>